agm-map {
  height: 300px;
}

.map-container {
    padding: 10px 34px 10px 34px;
}

.button-style {
    background: #6666dc;
    border: none;
    color: white;
    box-shadow: 0px 0px 7px 0px black;
}

.table-style {
    margin: 10px;
    box-shadow: 0px 0px 7px 0px grey;
}

.region-head {
    background: #dede6b;
    text-align: center;
    height: 26px;
    padding: 2px;
}

.table-head {
    margin: 0px;
    background: #ffa5008f;
}

.input-style {
    width: 100%;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid grey;
}

.new-table-row {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}